<footer class="py-5 px-4 md:px-[5%] xl:px-[8%] md:py-7 bg-primary text-white text-xs md:text-sm md:text-[15.5px]">

    <div class="flex flex-col items-start md:items-center justify-center md:justify-between gap-3 md:flex-row text-sm">
      <div class="flex flex-col ga-2">
        <h1 class="font-semibold text-sm tracking-wide underline underline-offset-4 mb-3">Atlas Commodities</h1>
        <p>Email : info&#64;atlascommodities.net</p>
        <p>Phone : +233-254-875-896</p>
        <p>Location : Kumasi-Santasi-Ayinam</p>
      </div>
      <div class="text-xs md:text-sm">
        &copy; {{currentYear}} Atlas Commodities.All Rights Reserved
      </div>
    </div>
  
  
  </footer>